form {
    background-color: #48c9b0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 30%;
    text-align: center;
    padding: 20px 0 30px 0;
    margin-top: 60px;
    margin-left: 300px;
}
h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input {
    width: 70%;
    height: 40px;
    margin: 10px auto;
    color: rgb(123, 117, 117);
    border: none;
}
input[type="submit"] {
    background-color: #17a589;
    height: 50px;
    border: none;
    color:white;
}